@font-face {
  font-family: "SF Pro Display";
  src: url('SF-Pro-Text-Semibold.otf');
}

* {
  transition: 0.5s;
}

:root {
  transition: 0.5s;
}

body {
  margin: 0;
  background: #fff;
}

.main-preloader {
  position: fixed;
  z-index: 9999;
  background: linear-gradient(#fc2561,#d823e7);
  width: 100%;
  height: 100%;
}

.preloader-logo {
  position: absolute;
  left: 411px;
  transform: scale(0.4);
  top: 50px;
  animation: anim 2.5s ease-in-out;
  }

@keyframes anim {
  0% {
    transform: scale(0.4);
  }

  50% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(0.4);
  }
}

.hero-text {
  position: absolute;
  left: 445px;
  top: 150px;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 100px;
  background: linear-gradient(#fc2561,#d823e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.tagline-text {
  position: absolute;
  font-family: SF Pro Display;
  font-weight: 100;
  font-size: 20px;
  color: #1E1E1E;
  opacity: 0.6;
  left: 538px;
  top: 488px;
}

#green-shape {
  position: absolute;
  transform: scale(0.5);
  left: 857px;
  top: 214px;
}

#orange-shape {
  position: absolute;
  transform: scale(0.5);
  left: -71px;
  top: -82px;
}

#blue-shape {
  position: absolute;
  transform: scale(0.5);
  left: -15px;
  top: 261px;
}

#purple-shape {
  position: absolute;
  transform: scale(0.5);
  left: 55px;
  top: -83px;
}

#pink-shape {
  position: absolute;
  transform: scale(0.5);
  right: 70px;
  top: -71px;
}

.box {
  position: absolute;
  background: #f6f0f0;
  opacity: 0.5;
  width: 500px;
  height: 44px;
  top: 26px;
  right: 400px;
  border-radius: 10px;
}

.blur {
  position: absolute;
  width: 500px;
  height: 44px;
  border-radius: 3px;
  top: 26px;
  right: 400px;
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);
  z-index: -1;
}

.navbar a {
  margin: 0px;
  padding-top: 20px;
  transform: translateY(10px);
}

.text {
  transform: translateY(10px);
}

.Home,
.Services,
.Resources,
.Article,
.Apps {
  font-family: SF Pro Display;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 15px;
}

.dark-mode {
  transition: 0.5s;
}

.dark-mode body {
  background: #323232;
}

.dark-mode .tagline-text {
  color: #fff;
  font-weight: 100;
  opacity: 1;
}

.dark-mode .box {
  background: #474747;
}

.dark-mode .blur {
  background: #323232;
  border: #323232;
}

.dark-mode a {
  color: #fff;
}
